<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <ul>
        <% listaProductos.forEach(function(prod) { %>
           <li>id: <%= prod.id %> - nombre:<%= prod.nombre %> <a href="/products/detalle/<%=prod.id%>">ir</a></li>
        <% }); %> 
    </ul>
    <%- include("../partials/footer") %>
</body>
